@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
main .top i, header .right i, header .middle form .icon, header .left .menu {
  width: 35px;
  height: 38px;
  display: grid;
  place-items: center;
  padding: 3px;
  border-radius: 50%;
  transition: all 0.3s;
}
main .top i:hover, header .right i:hover, header .middle form .icon:hover, header .left .menu:hover {
  background: #d8dbdd;
  transition: all 0.3s;
}

.mail .right, .mail .left, main .top, nav .bottom div, header .right, header .middle form, header .left, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f6f8fc;
}

i {
  cursor: pointer;
}

header {
  justify-content: space-between !important;
  gap: 20px;
  padding: 20px;
  font-size: 21px;
}
header .left {
  gap: 10px;
}
header .left .menu {
  font-size: 30px;
  margin-right: 20px;
}
header .left img,
header .left span {
  cursor: pointer;
}
header .middle form {
  background: rgb(243, 243, 243);
  padding: 6px 9px;
  border-radius: 10px;
  gap: 10px;
}
header .middle form input {
  border: none;
  outline: none;
  font-size: 18px;
  background: transparent;
}
header .right {
  gap: 15px;
}
header .right img {
  height: 36px;
  width: 30px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
  cursor: pointer;
}

section {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 40px;
}
nav .create-mail {
  background: #d0ebff;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
nav .create-mail:hover {
  box-shadow: 2px 2px 10px gray;
  transition: all 0.4s;
}
nav .middle {
  display: grid;
  font-size: 16px;
}
nav .middle .active {
  font-weight: bold;
  background: #e7f5ff;
  border-radius: 0 20px 20px 0;
}
nav .middle a {
  padding: 8px;
  margin-left: 4px;
  display: flex;
  gap: 12px;
  cursor: pointer;
}
nav .middle a:hover {
  background: #e7f5ff;
  border-radius: 0 20px 20px 0;
}
nav .middle a i,
nav .middle a span {
  pointer-events: none;
}
nav .bottom div {
  justify-content: space-between;
}

.hide .create-mail span,
.hide .middle a span,
.hide .bottom div span {
  display: none;
}

main {
  flex-grow: 1;
}
main .top {
  background: white;
  border-radius: 10px 10px 0 0;
  padding: 8px;
  justify-content: space-between;
}
main .top .left {
  display: flex;
  gap: 10px;
}
main .top i {
  width: 25px;
  height: 25px;
}
main .top .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .top .right .passive {
  color: gray;
  cursor: default;
}
main .top i {
  font-size: 16px;
  width: 25px;
  height: 25px;
}
main .mails-area {
  height: 80vh;
  background: #e9ecef;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
}
aside span {
  background-color: #9fa3a7;
  width: 100%;
  height: 2px;
}
aside img {
  cursor: pointer;
  width: 32px;
}

.mail {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  font-size: 16px;
  border-bottom: 1px solid ghostwhite;
  padding: 10px;
  transition: box-shadow 0.2s;
}
.mail:hover {
  box-shadow: 0 0 2px rgb(155, 155, 165);
  transition: box-shadow 0.2s;
}
.mail .left {
  justify-content: start;
  gap: 5px;
}
.mail .right {
  justify-content: space-between;
  font-size: 17px;
  margin-left: -100px;
}
.mail .right .message-title {
  font-weight: bold;
}
.mail .right button {
  background: none;
  border: none;
  font-size: 17px;
  display: none;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.mail .right button:hover {
  background: #495057;
  color: white;
}
.mail .right .message-date {
  white-space: nowrap;
}
.mail:hover > .right .message-date {
  display: none;
}
.mail:hover > .right button {
  display: block;
}

.star-active {
  color: rgb(125, 233, 115) !important;
}

.active-category {
  background: #d0ebff;
  border-radius: 15px;
}

.active {
  display: grid;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(73, 80, 87, 0.2588235294);
  display: none;
  place-items: center;
}
.modal-wrapper .modal-inner {
  display: flex;
  flex-direction: column;
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.modal-wrapper .modal-inner #close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}
.modal-wrapper .modal-inner form {
  display: flex;
  flex-direction: column;
}
.modal-wrapper .modal-inner form label {
  margin-top: 40px;
}
.modal-wrapper .modal-inner form input,
.modal-wrapper .modal-inner form textarea {
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px;
}
.modal-wrapper .modal-inner form textarea {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  resize: none;
  padding: 8px;
}
.modal-wrapper .modal-inner form #send-mail-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: rgb(140, 61, 214);
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 14px;
  transition: box-shadow 0.4s;
  border: none;
  cursor: pointer;
}
.modal-wrapper .modal-inner form #send-mail-btn:hover {
  box-shadow: 0 0 20px rgb(163, 131, 192);
  transition: box-shadow 0.4s;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-btn {
  width: 40px;
  height: 20px;
  background: #d3d3d3;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}
.toggle-btn::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.dark-mode .toggle-btn {
  background: #333;
  transition: all 0.2s;
}
.dark-mode .toggle-btn::after {
  transform: translateX(20px);
  transition: all 0.2s;
}

.dark-mode .active-category {
  background: white;
}
.dark-mode section {
  display: flex;
  background: #d0ebff;
}
.dark-mode section .create-mail {
  background: white;
}
.dark-mode section .middle a:hover {
  background-color: white;
}
.dark-mode header {
  background-color: #d0ebff;
  color: black;
  display: flex;
}

@media screen and (max-width: 1300px) {
  .mails-area .right {
    margin-left: unset;
  }
}/*# sourceMappingURL=style.css.map */